<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<div class="d-flex" id="wrapper">

		<div th:replace="layout/layout_logged :: sidebar"></div>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<nav th:replace="layout/layout_logged :: navbar"></nav>

			<div class="container-fluid">
			<div class="alert alert-success" th:if="${success != null}"
					th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}"
					th:text="${error}"></div>
				<div class="alert alert-warning" th:if="${warning != null}"
					th:text="${warning}"></div>
				<div class="alert alert-info" th:if="${info != null}"
					th:text="${info}"></div>
					
				<div class="col-sm-5 center-div">

					<div class="card text-white bg-dark mb-3 content text-center ">
						<div class="card-header font">Crear Dirigente</div>
						<div class="card-body">
							<form th:action="@{/leader/save_leader}" th:object="${leader}" method="post">
								
								<input type="hidden"  th:field="*{id}">
								<div class="form-group ">
									<label for="inputUserName">Nombre</label> 
									<input type="text" class="form-control upper" id="upper-name" th:field="*{name}"   placeholder="Nombre completo">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></small>
								</div>
								<div class="form-group ">
									<label for="inputUserName">Telefono</label> 
									<input type="text" class="form-control upper" th:field="*{phone}" placeholder="9999999999">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></small>
								</div>
								<div class="form-group ">
									<label for="inputPassword4">Correo Electronico</label> 
									<input type="text" class="form-control upper" id="upper-email" th:field="*{email}"  placeholder="Correo">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
								</div>
								<div class="form-group ">
									<label for="inputPassword4">Codigo</label> 
									<input type="text" class="form-control upper" id="upper-code"  th:field="*{code}" placeholder="Codigo">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></small>
								</div>
								<div class="form-group ">
									<label for="inputPassword4">Contrase&ntilde;a</label> 
									<input type="text" class="form-control" id="upper-code"  th:field="*{password}" placeholder="Contrase&ntilde;a">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
								</div>


								<button type="submit" class="btn btn-primary">Entrar</button>

							</form>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<!--
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
	<footer th:replace="layout/layout :: footer"></footer>

	<!-- Menu Toggle Script -->
	<script>
	
	function upper(){
		
	}
		$(function(){
			$('.upper').keyup(function(){
				  var start = this.selectionStart;
				  var end = this.selectionEnd;
				  this.value = this.value.toUpperCase();
				  this.setSelectionRange(start, end);
			});
			
		});
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>

</html>