<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<body>
	<div class="col-sm-6 center-div">

		<div class="card text-white bg-dark mb-3 content text-center ">
			<div class="card-header font">Unete</div>
			<div class="card-body">
				<form th:action="@{/voter/save_voter}" th:object="${citizen}"
					method="post">

					<input type="hidden" th:field="*{cedula}"> 
					<input type="hidden" th:field="*{leader}">
					<div class="form-row ">
						<div class="form-group col-md-12 ">
							
							<label for="inputUserName">Cedula</label> <input type="text"
								class="form-control upper" id="upper-name" th:field="*{cedula}"
								placeholder="Nombre completo"> 
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"></small>
						</div>
					</div>
					<div class="form-row ">
					<div class="form-group col-md-4">
						
							<label for="inputUserName">Nombre</label> <input type="text"
								class="form-control upper" id="upper-name" th:field="*{names}" 
								placeholder="Nombre completo"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></small>
					</div>	
						
						<div class="form-group col-md-4">
							<label for="inputUserName">Apellido1</label> <input type="text"
								class="form-control upper" id="upper-name" th:field="*{LastName1}" 
								placeholder="Primer Apellido"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('LastName1')}" th:errors="*{LastName1}"></small>
						</div>
						
						<div class="form-group col-md-4">
							<label for="inputUserName">Apellido2</label> <input type="text"
								class="form-control upper" id="upper-name" th:field="*{LastName2}" 
								placeholder="Segundo Apellido"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('LastName2')}" th:errors="*{LastName2}"></small>
						</div>
					</div>
					<div class="form-group ">
						<label for="inputUserName">Telefono</label> <input type="text"
							class="form-control upper" th:field="*{phone}"
							placeholder="8295555555"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
					</div>
					<div class="form-group ">
						<label for="inputPassword4">Correo Electronico</label> <input
							type="text" class="form-control upper" id="upper-email"
							th:field="*{email}" placeholder="Correo"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
					<div class="form-group  ">
						<label class="" for="inlineFormCustomSelect">Provincia</label> <select
							th:field="*{sector}" class="form-control"
							id="inlineFormCustomSelect">
							<option th:each="sector :${sectors}" 
								th:value="${sector.getId()}"
								th:text="${sector.getName()}">
							</option>
						</select>

					</div>
					
					 <div class="form-group">
					  <label for="comment">Tu Pensar/Sugerencia:</label>
					  <textarea class="form-control" rows="3" id="comment" th:field="*{pensar}"></textarea>
					</div> 
					
					<div class="form-group">
					  <label for="comment">Tu Necesidad:</label>
					  <textarea class="form-control" rows="3" id="comment" th:field="*{necesidad}"></textarea>
					</div> 

					<div class="form-group ">
						<div class="col-md-12 g-recaptcha center"
							data-sitekey="6LchAJgUAAAAAASUMQf59_v8leDEpKkO3xMS6bEa"></div>
					</div>


					<button type="submit" class="btn btn-primary">Salvar</button>

				</form>
			</div>
		</div>


	</div>
</body>
</html>